$lighttheme-pink: #fddfdc;
$lighttheme-blue: #1a3a69;

$blue: #05234f;
$pink: #ffc3bc;

body {
  padding: 2rem;
  color: $pink;
  background-color: $blue;
  font-family: "Roboto Slab", sans-serif;
  animation: 3.2s ease-in-out 0s 1 nightfall;

  @media (max-width: 450px) {
    padding: 1rem;
  }
}

@keyframes nightfall {
  0% {
    color: $blue;
    background-color: $pink;
    border-bottom-color: $blue;
  }
  30% {
    color: $blue;
  }
  100% {
    color: $pink;
    background-color: $blue;
    border-bottom-color: $pink;
  }
}

.main {
  max-width: 750px;
  margin: 0 auto;
}

h1 {
  @media (max-width: 450px) {
    margin-top: 0;
  }
}

h2 {
  margin-top: 0;
  font-size: 1.5em;
}

a {
  &,
  &:hover,
  &:active,
  &:focus {
    color: inherit;
  }
}

header {
  margin-bottom: 4rem;
}

strong {
  font-weight: 700;
}

.link.program {
  display: block;
  opacity: 0.6;
  margin-top: -1rem;
  margin-bottom: 1.5rem;
  overflow: scroll;
}

.rule {
  margin: 4rem 0;
  border-bottom: 1px solid $pink;
  opacity: 0.5;
  animation: 3s ease-in-out 0s 1 nightfall;
}

.movie {
  display: flex;
}
.movie__date {
  white-space: nowrap;
  padding-right: 0.3rem;
}
